* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.item {
  margin-top: 5%;
  height: 300px;
  width: 300px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}
